.bg-light-blue {
    background-color: #91E8E6;
}

.text-dark-green {
    color: #019498;
}

td {
    vertical-align: middle;
}

.text-orange {
    color: #F8AD06;
}

footer {
    background-color: $yellow;
  
    ul {
      list-style: none;
  
      li {
        text-decoration: none;
  
      }
  
      a {
        color: #ffffff;
        text-decoration: none;
  
        &:hover {
          color: $teal;
        }
      }
    }
  }

.index-main {
     min-height: calc(100vh - 126px);
}

body {
    font-family: 'Quicksand', sans-serif;
}

.background {
  background-image: url(../img/jumbotron_background.png);
  background-repeat: no-repeat;
  background-size: 100%;

}