.bg-light-blue {
    background-color: #95E7E7;
}

.text-dark-green {
    color: #019498;
}

td {
    vertical-align: middle;
}

.text-orange {
    color: #F8AD06;
}

.footer {
    background-color: #F8AD06;
    height: 50px;
}

.index-main {
     min-height: calc(100vh - 126px);
}